body {
    background-color: aqua;
    font-size: 20px;
}

.blockPadre{
   text-align: center;
    margin-top: 5%;
}

.blockHijo{
    padding: 1%;
}

button { 
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}