body {
    background-color: antiquewhite;
    text-align: center;
    font-size: 20px;
}

div {
    padding: 1%;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 1%;
}